@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
	--FjordBlue: #375A7F;
	--NordicInk: #111418;
	--IceBlue: #E8F1F5;
	--HuskyFur: #EEE0C0;
	--SnowWhite: #ffffff;

	--foreground: var(--NordicInk);
	--background: var(--IceBlue);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 175%;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background);
	color: var(--foreground);
}

.container {
	padding: 0 1rem;
}

@media screen and (min-width: 64rem) {
	.container {
		padding: 0 12rem;
	}
}

header {
	background-color: var(--FjordBlue);
	padding: 1rem 0;

	.container {
		display: flex;
		justify-content: space-between;

		a {
			color: var(--background);
		}

		nav {
			ul {
				list-style: none;
				display: flex;
				gap: 2rem;
			}
		}
	}
}

main {
	section {
		margin-top: 2rem;

		ul {
			margin-top: 2rem;
			list-style: none;
			display: flex;
			gap: 2rem;
			flex-direction: column;

			li {
				flex: 1 1 0px;

				article {
					background-color: var(--SnowWhite);
					padding: 2rem;
					border-radius: 0.5rem;
					box-shadow: 0 0 10px 5px #11141813;
					min-height: 100%;

					img {
						width: 100%;
						height: auto;
					}
				}
			}
		}

		@media screen and (min-width: 64rem) {
			ul {
				flex-direction: row;
			}
		}
	}
}

h1,
h2 {
	font-family: Comfortaa, Arial, Helvetica, sans-serif;
	background-color: inherit;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;

	abbr {
		font-size: inherit;
		color: inherit;
		font-family: inherit;
	}
}

p {
	background-color: inherit;
}

.articlesSection {
	background-color: var(--foreground);
	color: var(--background);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.contactSection {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.inputGroup {
	margin-bottom: 1rem;

	label {
		display: flex;
		justify-content: space-between;
	}

	& .alternate {
		flex-direction: column;
	}
}

address {
	margin: 1rem 0;
}

input,
textarea {
	background-color: var(--SnowWhite);
	border: 1px solid var(--foreground);
	resize: none;
	padding: 0.1rem 0.2rem;
}

button[type="submit"] {
	background-color: var(--FjordBlue);
	color: var(--IceBlue);
	border: none;
	position: relative;
	padding: 0.5rem 1rem;
	font-weight: 700;
}

button[type="submit"]::after {
	position: absolute;
	content: "";
	border: 2px solid var(--IceBlue);
	margin: 0.2rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}