.hero {
	display: flex;
	min-height: 78vh;
	background-size: cover;
	justify-content: center;
	align-items: center;
	background-position-x: center;
}

.hero__heading {
	margin-top: 9em;
	color: hsl(0, 79%, 59%);
	align-self: center;
}

.CTAphone {
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	background-color: hsl(0, 79%, 59%);
	color: hsl(0, 0%, 93%);
	padding: 0.5em 1em;
	text-align: center;
	margin: 0 auto;
	position: relative;
	text-decoration: none;
}

.CTAphone::after {
	border: 2px solid hsl(0, 0%, 93%);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 5px;
}