@import "tailwindcss";

:root {
  --FjordBlue: #375A7F;
  --NordicInk: #111418;
  --IceBlue: #E8F1F5;
  --HuskyFur: #EEE0C0;
  --SnowWhite: #ffffff;
  --PineGreen: #105B32;
  --foreground: var(--NordicInk);
  --background: var(--IceBlue);
}

@theme {
  --color-fjordblue: var(--FjordBlue);
  --color-iceblue: var(--IceBlue);
  --color-snowwhite: var(--SnowWhite);
  --color-nordicink: var(--NordicInk);
  --color-pinegreen: var(--PineGreen);
  --text-sm: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--NordicInk);
    --foreground: var(--IceBlue);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 175%;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: var(--font-funnelDisplay) !important;
  margin-bottom: 1.2rem;
  line-height: 130%;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

#blogPost ul {
  list-style: disc !important;
  font-size: 1.2rem;
  margin: 1rem;
  margin-left: 2rem;
}

#blogPost li {
  font-size: inherit;
}