.siteHeader {
	background-color: hsl(0, 0%, 16%);
	color: hsl(0, 0%, 93%);
	display: flex;
	justify-content: space-between;
	height: 5em;
	line-height: 5em;
}

.siteHeader__brand {
	color: hsl(0, 0%, 93%);
	font-family: "Comfortaa";
}

.siteBrand__logo {
	height: 2em;
}

@media screen and (min-width: 64em) {
	.siteHeader__brand {
		margin-top: 19px;
	}

	.siteBrand__logo {
		height: 3em;
	}
}