input[type="text"], input[type="email"], input[type="tel"], textarea {
	border: 1px solid grey;
	font-family: inherit;
	font-size: inherit;
	padding: 0.2em 0.3em;
	width: 15em;
}

textarea {
	width: 20em;
	height: 10em;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus {
	border-color: hsl(0, 79%, 59%);
}

.formGroup {
	display: flex;
	line-height: 1.8em;
}

.formGroup label {
	min-width: 4em;
	margin-right: 1em;
}

.formGroup--alt {
	display: block;
}

.formGroup--alt label {
	display: block;
}

.formGroup textarea {
	resize: none;
}

button {
	font-family: inherit;
	font-size: inherit;
	background-color: hsl(0, 79%, 59%);
	color: hsl(0, 0%, 93%);
	border: none;
	padding: 0.5em 1em;
	position: relative;
	font-weight: 700;
}

button::after {
	border: 2px solid hsl(0, 0%, 93%);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 5px;
}

.contactSection {
	display: flex;
}

form[name="contact-form"] {
	padding-top: 1.5em;
}